node_modules
# Keep environment variables out of version control
.env

/generated/prisma

# Next.js build output and cache
.next/
out/
build/
dist/

# TypeScript build info
*.tsbuildinfo
next-env.d.ts
.vercel
